#addTaskButton {
    display: block;
    margin: 15px auto;
}

#addTaskForm {
    text-align: center;
    margin-top: 15px;
}

.mat-raised-button {
    height: 52px;
    position: relative;
    top: -7px;
}